<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="3MVG9dZJodJWITSv_DcwbxuBLMMYYgRyFvzSOBFMbkAIsocGccNHOy5eoyxxaj_D9BxQb92e8PN1TT8BiXC65" />
    <add key="ConsumerSecret" value="3MVG9dZJodJWITSv_DcwbxuBLMMYYgRyFvzSOBFMbkAIsocGccNHOy5eoyxxaj_D9BxQb92e8PN1TT8BiXC65" />
    <add key="Username" value="pullmand@asme.org" />
    <add key="Password" value="Kn1cksR00l!JBQe9XGnwDsx7fk3wzCKTzBe" />
  </appSettings>
</configuration>